body {


    background-color: grey;
    margin: 0;

}

.link-title {

    text-decoration: none;
    font-size: 25px;
    color: black;


}

.container {

    width: 720px;
    margin: 0 auto;
    background: whitesmoke;
    box-shadow: 2px 5px 19px 2px;

}

.header {

    padding: 45px 0 40px 255px;
    /* border: 5px solid rgb(54, 255, 4) */

}


.header a:hover {

    color: blueviolet;
}

.menu {

    background: rgb(9, 186, 130);
    padding: 6px 0 6px 40px;

}

.menu a {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.menu a:hover {

    color: aqua;
}

aside {

    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
}

h1 {

    margin: 0;
    color: cornflowerblue;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}

h2 {

    color: rgb(23, 111, 82);
    font-size: 15px;
    margin: 20px 0 5px 0;

}



.main {



    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0;
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
}

.main a:hover {


    color: chartreuse;

}

#home-image img {

    width: 70%
}

footer {

    padding: 6px 40px 6px 40px;
    background: rgb(153, 151, 151);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: right;
}

footer a {

    text-decoration: none;
    color: black;

}

.separator {

    color: white;
    font-size: 15px;

}






/*  About Page Styling */


#about-page #home-image img {

    width: 70%;
    float: left;
    margin-bottom: 20px;
}

#about-page #profile-info {

    float: right;
    width: 20%;
    margin: 5px;

}


.description {

    clear: both;



}


/*    Contact page */

#contact #form {

    width: 450px;
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    box-shadow: 2px 2px 19px 2px;
    border-radius: 5px;
    color: rgb(0, 255, 187);

}

.page-heading {



    /* text-align: center; */
    margin-bottom: 20px;
    margin-inline-start: 171px;
}

#contact #form label {
    color: rgb(48, 46, 46);
    margin-left: 173px;

}

#contact #form input {
    width: 90%;
    border-radius: 5px;
    height: 20px;
    background: #b6d6d1;

}


#contact #form #message {

    width: 90%;
    border-radius: 5px;

    background: #b6d6d1;
}

#contact #form #submit {

    height: 30px;
    background: #899c99;
}
